<p id="notice"><%= notice %></p>

<h1>Listing Showrooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @showrooms.each do |showroom| %>
      <tr>
        <td><%= showroom.name %></td>
        <td><%= link_to 'Show', showroom %></td>
        <td><%= link_to 'Edit', edit_showroom_path(showroom) %></td>
        <td><%= link_to 'Destroy', showroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Showroom', new_showroom_path %>
